/*Background Image*/
body {
    background-color: #272727;
    background-size: 100%;
}

/*FONTING*/
@font-face { font-family: Unbounded-Regular; src: url('fonts/Unbounded-Regular.ttf'); } 
		p {
		   font-family: Unbounded-Regular
		}
		@font-face { font-family: Unbounded-Extrabold; src: url('fonts/Unbounded-ExtraBold.ttf'); } 
		h1 {
		   font-family: Unbounded-Extrabold
		}
		@font-face { font-family: Formula1-Wide; src: url('fonts/Formula1-Wide.ttf'); } 
		b {
		   font-family: Formula1-Wide
		}

/* TITLE BOX */
.title {
	font-family: Unbounded-Extrabold;
    text-align: center;
	font-size: 25px;
    color: #a8ff00;
}
hr{
    color:#808080;
}
.calendar {
	font-family: Unbounded-Regular;
	color: #FFFFFF
}